<a href="https://colab.research.google.com/github/mehrishka177/-------------heh--heh/blob/main/Untitled35.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

# Step 1: Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('example.db')  # This creates a file named 'example.db'
cursor = conn.cursor()

# Step 2: Create a table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS students (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        age INTEGER,
        score REAL
    )
''')

# Step 3: Insert sample data
students_data = [
    ('Alice', 21, 85.5),
    ('Bob', 22, 92.0),
    ('Charlie', 20, 78.3)
]
cursor.executemany('INSERT INTO students (name, age, score) VALUES (?, ?, ?)', students_data)

# Step 4: Commit the changes
conn.commit()

# Step 5: Query the database
cursor.execute('SELECT * FROM students')
rows = cursor.fetchall()

# Step 6: Display the results
print("ðŸ“‹ Students Table:")
for row in rows:
    print(row)

# Step 7: Close the connection
conn.close()