<a href="https://colab.research.google.com/github/mehrishka177/-------------heh--heh/blob/main/Untitled19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
import numpy as np
import pandas as pd
from datetime import datetime

conn = sqlite3.connect("setup_values.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS setup_values (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    parameter_name TEXT NOT NULL,
    value REAL NOT NULL,
    timestamp TEXT NOT NULL
)
""")
conn.commit()

def generate_setup_values(n=5):
    parameters = ['Voltage', 'Current', 'Resistance', 'Temperature', 'Frequency']
    values = np.round(np.random.uniform(1, 1000, size=n), 2)
    timestamp = datetime.now().isoformat()

    for param, val in zip(parameters, values):
        cursor.execute("""
        INSERT INTO setup_values (parameter_name, value, timestamp)
        VALUES (?, ?, ?)
        """, (param, val, timestamp))
    conn.commit()
    print(f"Inserted {n} SETA-UP values.")

def get_setup_values_df():
    df = pd.read_sql_query("SELECT * FROM setup_values", conn)
    return df

generate_setup_values()

df = get_setup_values_df()
print("\nSETA-UP Values in Database:")
print(df)

print("\nSummary Statistics (mean value by parameter):")
print(df.groupby("parameter_name")["value"].mean())

conn.close()